 <main class=" chat main-content d-flex flex-column h-100">
  <% content_for :page_title do %>
  <%= @conversation.human_chat? ? "#{@conversation.second_user&.first_name} #{@conversation.second_user&.last_name}" : "FitBuddy IA" %>
  <% end %>
        <% content_for :page_button do %>
          <%= link_to new_conversation_path, class: "plus-button", aria: { label: "Nouvelle conversation" } do %>
            <i class="fa-solid fa-plus"></i>
          <% end %>
        <% end %>

    <% content_for :header do %>
      <%= render 'layouts/topbar_header' %>
    <% end %>

<div class="chat-page d-flex flex-column flex-grow-1">
  <!-- Header conversation -->
  <div class="chat-header d-flex align-items-center p-3 border-bottom">
    <a href="<%= conversations_path %>" class="me-3 text-decoration-none text-dark">
      <i class="fa-solid fa-arrow-left"></i>
    </a>

    <% if @conversation.ai_chat? %>
      <%= render "layouts/avatar",
        initials: "AI",
        image_url: nil,
        gradient: "gradient-blue-green",
        size: "md",
        extra_classes: "me-2" %>
    <% else %>
      <%= render "layouts/avatar",
        initials: @conversation.second_user&.first_name&.first&.upcase || "?",
        image_url: (url_for(@conversation.second_user.avatar) if @conversation.second_user&.avatar&.attached?),
        gradient: "gradient-purple-pink",
        size: "md",
        extra_classes: "me-2" %>
    <% end %>

    <div class="d-flex flex-column ms-2 user-name">
      <%= @conversation.display_name_for(current_user) %>
    </div>
  </div>

    <!-- Zone de messages -->
    <%= render partial: "conversations/event_button", locals: { conversation: @conversation, visible: @sport_will } %>

   <div id="messages" class="px-3 pt-5">
      <% if @conversation.human_chat? %>
        <%= render "message_users/messages",
                  message_users: @conversation.message_users.includes(:sender).chronological %>
      <% else %>
        <%= render "messages/messages",
                  messages: @conversation.messages.order(:created_at) %>
      <% end %>
    </div>
  <div class="chat-input px-3 py-2 border-top bg-white">
    <% if @conversation.human_chat? %>
      <%= render "message_users/form",
                 conversation: @conversation,
                 message_user: @message_user %>
    <% else %>
      <%= render "messages/form",
                 conversation: @conversation,
                 message: @message %>
    <% end %>
  </div>
</div>
  <!-- Zone de réponse (sticky bottom) -->
</main>
