<div class="conversation-container container py-4">
  <!-- Header -->
  <div class="conversation-header text-center mb-4">
    <h1><%= @conversation.title %></h1>
    <p class="text-muted"><%= @conversation.context %></p>
  </div>

  <hr>

  <h2 class="d-flex justify-content-center">Messages</h2>

  <div class="container">
    <div class="mb-4">
      <div id="messages" class="conversation-messages">
       <%= render "messages/messages", messages: @conversation.messages %>
      </div>
    </div>

    <div id="new_message" class="conversation-form mt-3">
      <%= render "messages/form", conversation: @conversation, message: @message %>
    </div>

    <%= link_to "return to list", conversations_path(), class: "btn btn-primary mt-3"  %>
  </div>
</div>
