<div class="matches-container" data-controller="swipe">
  <% @potential_matches.each do |u| %>
    <div class="profile-card"
         data-controller="popup"
         data-swipe-target="card"
         data-user-id="<%= u.id %>"
         data-action="
           mousedown->swipe#startDrag
           mousemove->swipe#drag
           mouseup->swipe#endDrag
           touchstart->swipe#startDrag
           touchmove->swipe#drag
           touchend->swipe#endDrag
           click->popup#toggle"
         style="background-image: url('<%= cl_image_path(u.avatar.key, crop: :fill, width: 600, height: 600) if u.avatar.attached? %>')">

      <!-- Overlay du bas -->
      <div class="profile-overlay">
        <div class="profile-info">
          <div class="profile-details">
            <h2><%= u.first_name %> <%= u.last_name %></h2>
            <% if u.distance_from(@user).present? %>
              <p>
                <i class="fa fa-map-marker"></i>
                <%= number_with_precision(u.distance_from(@user), precision: 1) %> km away
              </p>
            <% end %>
          </div>

          <div class="sports">
            <% u.sports.each do |sport| %>
              <span class="sport-tag"><%= sport %></span>
            <% end %>
          </div>
        </div>
      </div>

      <!-- Boutons Like / Dislike -->
      <div class="actions">
        <button class="btn dislike-btn" data-action="click->popup#stop click->swipe#dislike"><i class="fa-solid fa-circle-xmark"></i></button>
        <button class="btn like-btn" data-action="click->popup#stop click->swipe#like"><i class="fa-solid fa-circle-check"></i></button>
      </div>

      <!-- mini-aperçu -->
      <div class="profile-overlay">
        <h2><%= u.first_name %> <%= u.last_name %></h2>
      </div>

      <!-- Popup -->
      <turbo-frame id="profile_popup_<%= u.id %>"
                  class="profil-popup hidden"
                  data-popup-target="popup"
                  data-action="click->popup#close">

        <div class="popup-content" data-action="click->popup#stop">
          <button class="btn btn-sm btn-light position-absolute top-0 end-0 m-3"
                  data-action="click->popup#close">✕</button>

          <%= render "layouts/profile_card",
                    user: u,
                    conversation: (defined?(@conversation) ? @conversation : nil),
                    enableMessage: true,
                    validPlace: false %>
        </div>
      </turbo-frame>
    </div>
  <% end %>
</div>
