<h1>Mon Dashboard</h1>

<%= render "dashboard/header" %>
<%= render "dashboard/search" %>
<%= render "dashboard/weather" %>
<%= render "dashboard/users_nearby" %>
<%= render "dashboard/recent_matches" %>
<%= render "dashboard/events_today" %>
