<nav class="mobile-navbar d-flex justify-content-around align-items-center"
     data-controller="navbar">

  <div class="nav-item <%= 'active' if current_page?(posts_path) %>"
       data-tab="home"
       data-navbar-target="item"
       data-action="click->navbar#activate">
    <%= link_to posts_path, class: "nav-link" do %>
      <i class="fa-solid fa-house"></i>
      <span>Home</span>
    <% end %>
  </div>

  <div class="nav-item <%= 'active' if current_page?(events_path) %>"
       data-tab="events"
       data-navbar-target="item"
       data-action="click->navbar#activate">
    <%= link_to events_path, class: "nav-link" do %>
      <i class="fa-solid fa-calendar"></i>
      <span>Events</span>
    <% end %>
  </div>

  <div class="nav-item <%= 'active' if current_page?(matches_path) %>"
       data-tab="match"
       data-navbar-target="item"
       data-action="click->navbar#activate">
    <%= link_to matches_path, class: "nav-link" do %>
      <i class="fa-solid fa-people-group"></i>
      <span>Match</span>
    <% end %>
  </div>

  <div class="nav-item <%= 'active' if current_page?(conversations_path) %>"
       data-tab="chat"
       data-navbar-target="item"
       data-action="click->navbar#activate">
    <%= link_to conversations_path, class: "nav-link" do %>
      <i class="fa-solid fa-comment"></i>
      <span>Chat</span>
    <% end %>
  </div>
</nav>

