<nav class="mobile-navbar d-flex justify-content-around align-items-center">
  <div class="nav-item <%= 'active' if current_page?(posts_path) %>" data-tab="home">
    <%= link_to posts_path, class: "nav-link" do %>
      <i class="fa-solid fa-house"></i>
      <span>Home</span>
    <% end %>
  </div>

  <div class="nav-item <%= 'active' if current_page?(search_path) %>" data-tab="search">
    <%= link_to search_path, class: "nav-link" do %>
      <i class="fa-solid fa-magnifying-glass"></i>
      <span>Search</span>
    <% end %>
  </div>

  <div class="nav-item <%= 'active' if current_page?(new_post_path) %>" data-tab="match">
    <%= link_to new_post_path, class: "nav-link" do %>
      <i class="fa-solid fa-dumbbell"></i>
      <span>Match</span>
    <% end %>
  </div>

  <div class="nav-item <%= 'active' if current_page?(conversations_path) %>" data-tab="chat">
    <%= link_to conversations_path, class: "nav-link" do %>
      <i class="fa-regular fa-comment"></i>
      <span>Chat</span>
    <% end %>
  </div>
</nav>
