<!DOCTYPE html>
<html lang="fr">
  <head>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>RailsAiFit</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <%= tag.link rel: "manifest", href: webmanifest_path(format: :json) %>
    <%= tag.link rel: "icon", href: image_url("app-icon-512.png"), type: "image/png" %>
    <%= tag.link rel: "apple-touch-icon", href: image_url("app-icon-512.png") %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= body_class_for_page %>">
    <!-- Header (topbar ou home_header) -->
    <%= content_for?(:header) ? yield(:header) : render("layouts/topbar_header") %>

    <!-- Navbar (hors Devise) -->
    <% unless devise_controller? || (defined?(controller_name) && controller_name == 'conversations' && action_name == 'show') %>
      <%= render "layouts/navbar" %>
    <% end %>

    <!-- Dashboard Offcanvas -->
    <%= render "layouts/dashboard" %>

    <!-- Contenu principal -->
    <main class="<%= main_content_class %>">
      <%= yield %>
    </main>
  </body>
</html>
